html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0%;
    background-color: black;
}
#container{

    text-align: center;
    height: 100%;
    width: 100%;

}
#esquerdo{

    height: 100%;
    width: 50%;
    background-color: white;
    float: left

}
#title{

    
    font-size: 50px;
    font-weight: bold ;
    

}
#botoes{

display: flex;
justify-content: center;
border-radius: 50%;
width: 30px;
height: 30px;


}
#legenda{



}
#esq-baixo{



}#direito{

    height: 100%;
    width: 50%;
    background-color: red;
    float: right
}