html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

#container{

    background-image: url(fundo-oceano.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#meio{
    height: 80%;
    width: 55%;
    background-color: rgb(255, 255, 255);
    display: flex;
  
}

#meio-esquerdo{
    background: linear-gradient(to bottom, #003366, #06649A, #004d66);
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meio-direito{
    width: 65%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@font-face {
    font-family: coolvetica;
    src: url(coolvetica/coolvetica\ rg.otf);
}




.profile{
    width: 60%;
    height: 30%;
    margin-top: 150px;
    
}

.bemvindo{
    color: white;
    font-size: xx-large;
    padding-top: 30px;
    font-family: coolvetica;
}

.bemvindo-user{
    color: white;
    font-size: large;
    padding-top: 6px;
    font-family: coolvetica;
}

.excluir{
    background-color: white;
    color: rgb(24, 24, 24);
    border: 0px;
    border-radius: 20px;
    width: 50%;
    height: 6%;
    margin-top: 70px;
    font-family: coolvetica;
    
}



.excluir:hover{
    color: white;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    font-family: coolvetica;
}

.informacoes{
    font-size: xx-large;
    padding-bottom: 70px;
    font-family: coolvetica;
    
}


.botao-direito{
    border: 0px;
    background-color:#06649A;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 25px;
    width: 110px;
   
}

.botao-direito:hover{
    cursor: pointer;
}

.divEmail{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    position: relative;
    font-family: coolvetica;
    
}

.divEmail input {
    background-color:rgb(242, 240, 240);
    border: 0;
    padding-left: 50px;
    height: 40%;
    border-radius: 20px;
    height: 25px;
    
}
.divEmail input::placeholder{
    padding-left: 15px;
    
}
.divEmail i{
   position: relative;
   left: 40px;
}

.divSenha{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    position: relative;
    font-family: coolvetica;
}

.divSenha input {
    background-color:rgb(242, 240, 240);
    border: 0;
    padding-left: 50px;
    height: 25px;
    border-radius: 20px;
    
}
.divSenha input::placeholder{
    padding-left: 15px;
    
}
.divSenha i{
   position: relative;
   left: 40px;
   border-radius: 20px;
}

.divUser{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    position: relative;
    font-family: coolvetica;
}

.divUser input {
    background-color:rgb(242, 240, 240);
    border: 0;
    padding-left: 50px;
    height: 25px;
    border-radius: 20px;
    
    
}
.divUser input::placeholder{
    padding-left: 15px;
    
}
.divUser i{
   position: relative;
   left: 40px;
}


