html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

#container{

    background-image: url(fundo-oceano.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#meio{
    height: 80%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

#meio-esquerdo{
    height: 100%;
    width: 50%;
    background-color:rgb(255, 254, 254);
    background: linear-gradient(to bottom, #003366, #06649A, #004d66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#meio-direito{
    height: 100%;
    width: 50%;
    background-color:rgb(255, 254, 254);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: coolvetica;
    src: url(coolvetica/coolvetica\ rg.otf);
}

.button{
    margin-top: 12px;
    border: 0;
    border-radius: 20px;
    width: 170px;
    height: 45px;
    background-color:#328fc5;
    color: white;
    font-family: coolvetica;
    transition: transform 0.3s ease;
    margin-bottom: 1%;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    
    
}


.nomeprato{
    font-size: xx-large;
    color: white;
    font-family: coolvetica;
}

.inptnome{
    border: 0px solid rgb(0, 0, 0);
    background-color:rgb(242, 240, 240);
    border-radius: 15px;
    height: 5%;
    margin-top: 10px;
    font-family: coolvetica;
}

.option{
    font-family: coolvetica;
    font-size: x-large;
}

.descricao{

    font-family: coolvetica;
    font-size: xx-large;

}

.inptdescricao{
    resize: none;
    margin-bottom: 10%;
    border: 2px solid black;
    font-family: coolvetica;
    
}

.categoria{
    font-family: coolvetica;
    font-size: xx-large;
}

.selectcategoria{
    margin-bottom: 10%;
    border: 2px solid black;
    width: 28%;
    height: 5%;
    font-size: large;
}

.preco{
    font-family: coolvetica;
    font-size: xx-large;
}

.inptpreco{
    width: 15%;
    border: 2px solid black;
    font-family: coolvetica;
    font-size: large;
}

.logo{
    width: 40%;
    height: 40%;
    
}