body{


}#container{
text-align: center;

}#box-cadastro{

    margin-top: 50px;
    border: black;
    border-style:solid;

}#title{

font-size: 30px

}#userDiv{
margin-bottom: 5px;

}#passDiv{
    
    margin-left: 5px;
    margin-bottom: 30px ;

}.button{


}#legenda{

    margin-top: 15px;

}