html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

#container{

    background-image: url(fundo-oceano.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

#meio{
    height: 80%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    
    
}

#meio-esquerdo{
    height: 100%;
    width: 50%;
    background-color:rgb(255, 254, 254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#meio-direito{
    height: 100%;
    width: 50%;
    background: linear-gradient(to bottom, #003366, #06649A, #004d66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1{
    margin-bottom: 0px;
    color: white;
    font-family: coolvetica;
    font-size: x-large;
    
   
}

.h1-2{
    margin-top: 0px;
    color: white;
    font-family: coolvetica;
    font-size: x-large;
}

.input{
    width: 230px;
    height: 45px;
    margin: 5px;
}

.button{
    margin-top: 10px;
    border: 0;
    border-radius: 20px;
    width: 170px;
    height: 45px;
    background-color:#06649A;
    color: white;
    font-family: merri;
    transition: transform 0.1s ease;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease;
    
    
}


.label-esq{
    margin-bottom: 10px;
    font-family: coolvetica;
}

.lbl-dir{
    font-family: coolvetica;
    color: white;
    font-size:medium;
    text-align: center;
    
    
}

@font-face {
    font-family: lobster;
    src: url(Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: pacifico;
    src: url(Pacifico/Pacifico-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: merri;
    src: url(Merriweather/Merriweather-Regular.ttf);
}
@font-face {
    font-family: coolvetica;
    src: url(coolvetica/coolvetica\ rg.otf);
}


.input{
    border: 0px solid rgb(0, 0, 0);
    background-color:rgb(242, 240, 240);
    
    
}

.divEmail{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    position: relative;
}

.divEmail input {
    background-color:rgb(242, 240, 240);
    border: 0;
    padding-left: 50px;
    
}
.divEmail input::placeholder{
    padding-left: 15px;
    
}
.divEmail i{
   position: relative;
   left: 40px;
}

.divSenha{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    position: relative;
}

.divSenha input {
    background-color:rgb(242, 240, 240);
    border: 0;
    padding-left: 50px;
    
}
.divSenha input::placeholder{
    padding-left: 15px;
    
}
.divSenha i{
   position: relative;
   left: 40px;
}

.divUser{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    position: relative;
}

.divUser input {
    background-color:rgb(242, 240, 240);
    border: 0;
    padding-left: 50px;
    
}
.divUser input::placeholder{
    padding-left: 15px;
    
}
.divUser i{
   position: relative;
   left: 40px;
}

.label-esq2{
    margin-bottom: 10px;
    font-family: coolvetica;
    font-size: small;
}

.label-possuiconta{
    font-family: coolvetica;
    padding-top: 20px;
    font-size: small;
}

.logo{
    width: 140px;
    height: 200px;
    padding-bottom: 15px;
}

